html {
  border-radius: 20px;
  overflow: hidden;
  height: 100%;
  margin: 0px;
}

body,
div[id="root"] {
  height: 100%;
  margin: 0px;
}

.main-window {
  border-radius: 20px;
  height: 98%;
}

container {
  background-color: #828780;
  height: 49%;
  width: 98.75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &.game-container {
    border: 5px solid black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 2px solid black;
  }

  &.selection-container {
    border: 5px solid black;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top: 2px solid black;
  }
}

.separator {
  height: 2%;
  width: 100%;
  background: transparent;
  justify-content: center;
  display: flex;

  .meio {
    width: 90%;
    background-color: #60625f;
  }
}

.screen {
  width: 60%;
  background-color: white;
  border-radius: 20px;
  height: 90%;
  border: 5px solid black;

  &.game-screen {
    margin-top: 22px;
    margin-bottom: 4px;
  }

  &.selection-screen {
    margin-top: 4px;
    margin-bottom: 22px;
  }
}

.nav_btn {
  margin: 25px;
  width: 12%;
  margin-top: 5px;
  justify-content: center;
  align-items: center;
  height: 100%;
  align-self: center;
  align-content: center;

  .buttons_letters {
    width: 10em;
    height: 10em;
    position: absolute;
    right: 0%;
    margin-top: 30px;
    background-repeat: no-repeat;
    z-index: 3;
    font-weight: bold;

    .btn-y {
      cursor: pointer;
      position: absolute;
      width: 2.5em;
      height: 2.5em;
      border: 1px solid #333;
      background: radial-gradient(
            93% 98% at 100% 20%,
            rgba(247, 247, 247, 0.3) 50%,
            rgba(255, 76, 77, 0) 52%
          )
          110% 125% / 100% 100%,
        #333;
      background-repeat: no-repeat;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 10%;
      left: 39%;

      .shadow {
        position: absolute;
        width: 2.5em;
        height: 2.5em;
        background: gray;
        z-index: -1;
        border-radius: 50%;
        top: 0.2em;
        left: -0.2em;
      }

      .y {
        position: absolute;
        font-size: 1.6em;
        color: #fde51f;
      }
    }

    .btn-x {
      cursor: pointer;
      border: 1px solid #333;
      position: absolute;
      width: 2.5em;
      height: 2.5em;
      background: radial-gradient(
            93% 98% at 113% 20%,
            rgba(247, 247, 247, 0.3) 50%,
            rgba(255, 76, 77, 0) 52%
          )
          130% 125% / 100% 100%,
        #333;
      background-repeat: no-repeat;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 37%;
      left: 10%;

      .shadow {
        position: absolute;
        width: 2.5em;
        height: 2.5em;
        background: gray;
        z-index: -1;
        border-radius: 50%;
        top: 0.2em;
        left: -0.2em;
      }

      .x {
        position: absolute;
        font-size: 1.6em;
        color: #1aa4ee;
      }
    }

    .btn-a {
      cursor: pointer;
      position: absolute;
      width: 2.5em;
      height: 2.5em;
      border: 1px solid #333;
      background: radial-gradient(
            93% 98% at 100% 10%,
            rgba(247, 247, 247, 0.3) 50%,
            rgba(255, 76, 77, 0) 52%
          )
          110% 125% / 100% 100%,
        #333;
      background-repeat: no-repeat;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 66%;
      left: 39%;

      .shadow {
        position: absolute;
        width: 2.5em;
        height: 2.5em;
        background: gray;
        z-index: -1;
        border-radius: 50%;
        top: 0.2em;
        left: -0.2em;
      }

      .a {
        position: absolute;
        font-size: 1.6em;
        color: #99ca63;
      }
    }

    .btn-b {
      cursor: pointer;
      position: absolute;
      width: 2.5em;
      height: 2.5em;
      border: 1px solid #333;
      background: radial-gradient(
            93% 98% at 80% 20%,
            rgba(247, 247, 247, 0.3) 50%,
            rgba(255, 76, 77, 0) 52%
          )
          110% 125% / 100% 100%,
        #333;
      background-repeat: no-repeat;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 37%;
      left: 67%;

      .shadow {
        position: absolute;
        width: 2.5em;
        height: 2.5em;
        background: gray;
        z-index: -1;
        border-radius: 50%;
        top: 0.2em;
        left: -0.2em;
      }

      .b {
        position: absolute;
        font-size: 1.6em;
        color: #e52a27;
      }
    }
  }

  .controllerLeft {
    height: 50px;
    width: 50px;
    background-color: #e6e6e6;
    position: absolute;
    border-radius: 100%;
    margin-left: -125px;
    box-shadow: -15px 8px 15px rgba(0, 0, 0, 0.2);

    .crossCircle {
      background-color: #292929;
      width: 25px;
      height: 25px;
      position: absolute;
      border-radius: 100%;
      margin-top: 5px;
      margin-left: 5px;
    }

    .crossTop {
      cursor: pointer;
      background-color: #333333;
      width: 35px;
      height: 35px;
      position: absolute;
      border-radius: 15%;
      margin-top: -30px;
    }

    .crossBottom {
      cursor: pointer;
      background-color: #333333;
      width: 35px;
      height: 35px;
      position: absolute;
      border-radius: 15%;
      margin-top: 30px;
    }

    .crossLeft {
      cursor: pointer;
      background-color: #333333;
      width: 35px;
      height: 35px;
      position: absolute;
      border-radius: 15%;
      margin-left: -30px;
    }

    .crossRight {
      cursor: pointer;
      background-color: #333333;
      width: 35px;
      height: 35px;
      position: absolute;
      border-radius: 15%;
      margin-left: 30px;
    }

    .crossCenter {
      background-color: #333333;
      width: 35px;
      height: 35px;
      margin-top: 170px;
      margin-left: 150px;
      position: relative;
    }
  }
}

input {
  &[type="checkbox"] {
    margin: 10px;
    position: relative;
    width: 60px;
    cursor: pointer;
    height: 20px;
    -webkit-appearance: none;
    background: linear-gradient(0deg, #333, #000);
    outline: none;
    border-radius: 20px;
    box-shadow: 0 0 0 4px #353535, 0 0 0 5px #3e3e3e, inset 0 0 10px black;
  }

  &:checked[type="checkbox"] {
    &:nth-of-type(1) {
      background: linear-gradient(0deg, #e67e22, #f39c12);
      box-shadow: 0 0 0 4px #353535, 0 0 0 5px #3e3e3e, inset 0 0 10px black;

      /* cursor: pointer; */
    }

    &:nth-of-type(2) {
      background: linear-gradient(0deg, #70a1ff, #1e90ff);
      box-shadow: 0 0 0 4px #353535, 0 0 0 5px #3e3e3e, inset 0 0 10px black;
    }
  }

  &[type="checkbox"]:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 20px;
    background: linear-gradient(0deg, #000, #6b6b6b);
    border-radius: 20px;
    box-shadow: 0 0 0 1px #232323;
    transform: scale(0.98, 0.96);
    transition: 0.5s;
  }

  &:checked[type="checkbox"]:before {
    left: 30px;
  }

  &[type="checkbox"]:after {
    content: "";
    position: absolute;
    top: calc(50% - 2px);
    left: 20px;
    width: 4px;
    height: 4px;
    background: linear-gradient(0deg, #6b6b6b, #000);
    border-radius: 50%;
    transition: 0.5s;
  }

  &:checked[type="checkbox"]:after {
    left: 50px;
  }
}

h1 {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
  color: #fff;
  font-size: 16px;
  padding-top: 15px;
  padding-top: 15px 0;
  text-transform: uppercase;
  letter-spacing: 4px;
}
